In [15]:
#Initialize sqlalchemy

from sqlalchemy import *
import datetime

In [16]:
#Calls from mediacloud

## Initialize mediacloud
import mediacloud, json, datetime
from config import MY_API_KEY

mc = mediacloud.api.MediaCloud(MY_API_KEY)

## Research Question
## "Did US Mainstream Media sources talk about Trump or Clinton more in September 2016?"

## Searches for Trump
res = mc.sentenceCount('trump', solr_filter=[mc.publish_date_query( datetime.date( 2016, 9, 1), datetime.date( 2016, 9, 30) ), 'tags_id_media:1' ])
trump_count = res['count']
trump_row = {'keyword': 'trump', 'count': trump_count}
print(trump_row)

## Searches for Clinton
res = mc.sentenceCount('clinton', solr_filter=[mc.publish_date_query( datetime.date( 2016, 9, 1), datetime.date( 2016, 9, 30) ), 'tags_id_media:1' ])
clinton_count = res['count']
clinton_row = {'keyword': 'clinton', 'count': clinton_count}
print(clinton_row)

{'keyword': 'trump', 'count': 197784}
{'keyword': 'clinton', 'count': 133193}

In [17]:

#Create a table 

# add `echo=True` to see log statements of all the SQL that is generated
engine = create_engine('sqlite:///:memory:',echo=True) # just save the db in memory for now (ie. not on disk)
metadata = MetaData()
# define a table to use
keywords_table = Table('queries', metadata,
    Column('id', Integer, primary_key=True),
    Column('keyword', String(400), nullable=False),
    Column('count', Integer, nullable=False),
    Column('timestamp', DateTime, default=datetime.datetime.now),
)
metadata.create_all(engine) # and create the tables in the databa

2017-12-13 17:37:09,433 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-12-13 17:37:09,435 INFO sqlalchemy.engine.base.Engine ()
2017-12-13 17:37:09,437 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-12-13 17:37:09,439 INFO sqlalchemy.engine.base.Engine ()
2017-12-13 17:37:09,441 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("queries")
2017-12-13 17:37:09,443 INFO sqlalchemy.engine.base.Engine ()
2017-12-13 17:37:09,447 INFO sqlalchemy.engine.base.Engine
CREATE TABLE queries (
	id INTEGER NOT NULL,
	keyword VARCHAR(400) NOT NULL,
	count INTEGER NOT NULL,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2017-12-13 17:37:09,448 INFO sqlalchemy.engine.base.Engine ()
2017-12-13 17:37:09,450 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
# Insert count per keyword
insert_stmt = keywords_table.insert().values([clinton_row, trump_row])
result = db_conn.execute(insert_stmt)

2017-12-13 17:38:02,536 INFO sqlalchemy.engine.base.Engine INSERT INTO queries (keyword, count, timestamp) VALUES (?, ?, ?), (?, ?, ?)
2017-12-13 17:38:02,538 INFO sqlalchemy.engine.base.Engine ('clinton', 133193, '2017-12-13 17:38:02.536502', 'trump', 197784, '2017-12-13 17:38:02.536512')
2017-12-13 17:38:02,577 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
# Select count per keyword
# Show total

from sqlalchemy.sql import select

select_stmt = select([keywords_table])
results = db_conn.execute(select_stmt)

total_count = 0

for row in results:
    total_count += row.count
    print('The count for {} is {}'.format(row.keyword, row.count))

print('Total count is {}'.format(total_count))

2017-12-13 17:59:12,974 INFO sqlalchemy.engine.base.Engine SELECT queries.id, queries.keyword, queries.count, queries.timestamp
FROM queries
2017-12-13 17:59:12,976 INFO sqlalchemy.engine.base.Engine ()
The count for clinton is 133193
The count for trump is 197784
Total count is 330977